<form {{action save on="submit"}} class="form-horizontal">
  <legend>New Portfolio</legend>

  {{partial "portfolio_fields"}}

  <div class="form-actions">
	<button  class="btn btn-mini btn-primary" type='submit'>Create</button>
    <button class="btn btn-mini" {{action cancel}}>Cancel</button>
  </div>
</form>
