	<tr>
		<th colspan=6 style='text-align:right;'>Cash</th>
		<td style='text-align:right;'>${{decimal cash}}</td>
		<td colspan=2></td>
	</tr>
	<tr>
		<th colspan=6 style='text-align:right;'>Portfolio Total Value</th>
		<td style='text-align:right;'>${{decimal portfolio_value}}</td>
		<td style='text-align:right;'>${{decimal portfolio_daily}}</td>
		<td></td>
	</tr>


