	<tr>
		<td colspan=8 ></td>
		<td style='text-align:right;'>${{decimal total_value}}</td>
		<td style='text-align:right;'>${{decimal total_change}}</td>
	</tr>
	<tr>
		<th colspan=6 style='text-align:right;'>Cash</th>
		<td style='text-align:right;'>${{decimal total_cash}}</td>
		<td colspan=3 ></td>
	</tr>
	<tr>
		<th colspan=6 style='text-align:right;'>Portfolio Total Value</th>
		<td style='text-align:right;'>${{add total_cash total_value}}</td>
		<td colspan=3 ></td>
	</tr>


