<tr>
	<td></td>
	<td></td>
	<th style='text-align:right;'>Position Totals</th>
	<td style='text-align:right;'>${{decimal total_cost}}</td>
	<td style='text-align:right;'>${{decimal total_value}}</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td colspan=8></td>
</tr>

<tr>
	<th colspan=3 style='text-align:right;'>Cash</th>
	<td style='text-align:right;'>${{decimal total_cash}}</td>
	<td colspan=5></td>
</tr>
<tr>
	<th colspan=3 style='text-align:right;'>Portfolio Total Value</th>
	<td style='text-align:right;'>${{add total_cash total_value}}</td>
	<td colspan=5></td>
</tr>