<p>{{#if controller.sorted_with_ids}}
	<table class='table table-condensed table-striped table-bordered'>
		{{partial "partials/stocks/position_header"}}
	{{#each stock in sorted_with_ids}}
		{{partial "partials/stocks/position_data"}}
	{{/each}}
		{{partial "partials/stocks/position_totals"}}
	</table>
{{/if}}
</p>