	<tr>
		<td></td>
		<td></td>
		<th style='text-align:right;'>Positions Total</th>
		<td style='text-align:right;'>${{decimal total_value}}</td>
		<td style='text-align:right;'>${{decimal total_change}}</td>
		<td></td>
	</tr>

	<tr>
		<td colspan=7></td>
	</tr>

	<tr>
		<th colspan=3 style='text-align:right;'>Cash</th>
		<td style='text-align:right;'>${{decimal cash}}</td>
		<td colspan=2></td>
	</tr>
	<tr>
		<th colspan=3 style='text-align:right;'>Portfolio Total Value</th>
		<td style='text-align:right;'>${{add cash total_value}}</td>
		<td colspan=2></td>
	</tr>


