<tr>
	<td colspan=5></td>
	<th style='text-align:right;'>Stocks Total</th>
	<td style='text-align:right;'>${{decimal options_value}}</td>
	<td style='text-align:right;'>${{decimal options_daily}}</td>
	<td></td>
</tr>

<tr>
	<td colspan=9></td>
</tr>
