<tr>
	<th>Symbol</th>
	<th>Stock/Option</th>
	<th style='text-align:right;'>Quantity</th>
	<th style='text-align:right;'>Current Price</th>
	<th style='text-align:right;'>Value</th>
	<th style='text-align:right;'>Daily Change
		<button {{action sort}} class="sort" >{{sort_arrow sortAscending}}</button>
	</th>
	<th style='text-align:right;'>Time</th>
</tr>
