<div class="control-group">
  <label class="control-label" for="name">Name</label>
  <div class="controls">
	{{view Ember.TextField valueBinding="name" id="name" placeholder="Name" required="true" }}
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="cash">Cash</label>
  <div class="controls">
	<div class="input-prepend">
		<span class="add-on">$</span>
		{{view Ember.TextField valueBinding="cash" class='span8' id="cash" placeholder="Cash" required="true" }}
	</div>
  </div>
</div>


