<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="brand">			
			{{#linkTo "portfolios"}}Portfolios{{/linkTo}} |
			{{#linkTo "stocks"}}Stocks{{/linkTo}} |
			{{#linkTo "system"}}System{{/linkTo}} |
			<a href='/'>Exit</a>			
	  </div>
	
	
	  <ul class="nav pull-right">
		<div class="btn-group">
			{{#linkTo "system" class='btn'}}System{{/linkTo}}
			<button {{action toggle_update_auto}} {{bindAttr class="view.toggle_update_class"}}>
			{{auto_update HelloEmber.update_auto}}</button>
		</div>
	  </ul>
	
		
    </div>
  </div>

</div>
<div class="container-fluid" id="main">
  <div class="row-fluid">

    {{outlet}}

  </div>
</div>
